<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<p> <%= link_to "Create a review", new_restaurant_review_path(@restaurant)%> </p>
<p> <%= link_to "All Restaurants", restaurants_path%> </p>

